<div class="grid grid-cols-1 gap-x-8 gap-y-8 pt-10 md:grid-cols-3">
        <!-- Header -->
    <%- include('../../components/molecules/label-profile', {header, description}) %>


  <form
    class="bg-white shadow-sm ring-1 ring-gray-900/5 sm:rounded-xl md:col-span-2"
  >
    <div class="px-4 py-6 sm:p-8">
      <div class="max-w-2xl space-y-10">
        <% experiences.forEach((expi) => { %> 
            <%- include('../../components/molecules/experience-fieldset', { expi: expi }) %>
        <% }); %>
      </div>
    </div>
    <div
      class="flex items-center justify-end gap-x-6 border-t border-gray-900/10 px-4 py-4 sm:px-8"
    >
      <button
        type="button"
        class="text-sm font-semibold leading-6 text-gray-900"
      >
        Cancel
      </button>
      <button
        type="submit"
        class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
      >
        Save
      </button>
    </div>
  </form>
</div>
