<header x-data="{ mobileMenuOpen: false, open: false }" class="bg-white z-10 fixed w-full top-0">
  <nav
    class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8"
    aria-label="Global"
  >
    <!-- Logo -->
    <div class="flex lg:flex-1">
      <a href="/" class="-m-1.5 p-1.5">
        <span class="sr-only">Your Company</span>
        <img class="h-8 w-auto" src="./assets/images/logo.png" alt="" />
      </a>
    </div>

    <div class="flex lg:hidden">
      <button
        @click="mobileMenuOpen = true"
        type="button"
        class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700"
        x-data="{ isVisible: false }"
        x-init="setTimeout(() => { isVisible = true; }, 100)"
        x-show="isVisible"
        x-cloak
        x-transition:enter="transition ease-out duration-300 transform opacity-0"
        x-transition:enter-start="translate-y-[-10%] opacity-0"
        x-transition:enter-end="translate-y-0 opacity-100"
        
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
          />
        </svg>
      </button>
    </div>
    <div class="hidden lg:flex lg:gap-x-12">
      <div class="relative">
        <button
          @click="open = true"
          type="button"
          class="flex items-center gap-x-1 text-sm font-semibold leading-6 text-gray-900 hover:text-green-400 transition duration-500"
          aria-expanded="false"
        >
          Dashboard
          <svg
            class="h-5 w-5 flex-none text-gray-400 transform transition-transform"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
            :class="{'rotate-180': open}"
          >
            <path
              fill-rule="evenodd"
              d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
              clip-rule="evenodd"
            />
          </svg>
        </button>

        <!--
          'Product' flyout menu, show/hide based on flyout menu state.

          Entering: "transition ease-out duration-200"
            From: "opacity-0 translate-y-1"
            To: "opacity-100 translate-y-0"
          Leaving: "transition ease-in duration-150"
            From: "opacity-100 translate-y-0"
            To: "opacity-0 translate-y-1"
        -->
        <div
          x-show="open"
          x-cloak
          @click.away="open = false"
          class="absolute -left-8 top-full z-10 mt-3 w-screen max-w-[14rem] overflow-hidden rounded-3xl bg-white shadow-lg ring-1 ring-gray-900/5"
          x-transition:enter="transition ease-out duration-300 transform opacity-0"
          x-transition:enter-start="translate-y-[-10%] opacity-0"
          x-transition:enter-end="translate-y-0 opacity-100"
          x-transition:leave="transition ease-in duration-300 transform opacity-100"
          x-transition:leave-start="translate-y-0 opacity-100"
          x-transition:leave-end="translate-y-[-10%] opacity-0"
        >
          <div class="p-4">
            <div
              class="group relative flex items-center gap-x-6 rounded-lg p-4 text-sm leading-6 hover:bg-gray-50"
            >
              <div class="flex-auto">
                <a
                  href="/candidate-dashboard"
                  class="block font-semibold text-gray-900 hover:text-green-400 transition duration-500"
                >
                  Candidate Dashboard
                  <span class="absolute inset-0"></span>
                </a>
              </div>
            </div>

            <div
              class="group relative flex items-center gap-x-6 rounded-lg p-4 text-sm leading-6 hover:bg-gray-50"
            >
              <div class="flex-auto">
                <a
                  href="/employer-dashboard"
                  class="block font-semibold text-gray-900 hover:text-green-400 transition duration-500"
                >
                  Employer Dashboard
                  <span class="absolute inset-0"></span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <a
        href="/"
        class="text-sm font-semibold leading-6 text-gray-900 hover:text-green-400 transition duration-500"
        >Home</a
      >
      <a
        href="/job-list"
        class="text-sm font-semibold leading-6 text-gray-900 hover:text-green-400 transition duration-500"
        >Job</a
      >
      <a
        href="/candidates"
        class="text-sm font-semibold leading-6 text-gray-900 hover:text-green-400 transition duration-500"
        >Candidates</a
      >
    </div>
    <div
      class="hidden lg:flex gap-2 lg:flex-1 justify-center items-center lg:justify-end"
    >
      <a
        href="/login"
        class="text-sm transition duration-500 font-semibold border border-gray-500 leading-6 text-black px-5 py-2 bg-whiet hover:bg-[#00bf58] hover:text-white hover:border-[#00bf58] rounded-md">
      
        Login
      </a>

      <%- include('../components/molecules/post-a-job-button', { margin: ' '}) %>
    </div>
  </nav>

  <!-- Mobile menu, show/hide based on menu open state. -->
  <div
    x-show="mobileMenuOpen"
    class="lg:hidden"
    role="dialog"
    aria-modal="true"
    x-data="{ isVisible: false }"
    x-init="setTimeout(() => { isVisible = true; }, 100)"
    x-show="isVisible"
    x-cloak
    class="p-4 bg-gray-200 rounded-md custom-fade-slide"
    
    >
    <!-- Background backdrop, show/hide based on slide-over state. -->
    <div 
      class="fixed inset-0 z-10" 
      ></div>
    <div 
      class="fixed inset-y-0 right-0 z-10 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10" 
      x-show="mobileMenuOpen" 
      x-transition:enter="transition-transform ease-in-out duration-300 transform translate-x-full sm:translate-x-0" 
      x-transition:enter-start="translate-x-full" 
      x-transition:enter-end="translate-x-0" 
      x-transition:leave="transition-transform ease-in-out duration-300 transform translate-x-0 sm:translate-x-full" 
      x-transition:leave-start="translate-x-0" 
      x-transition:leave-end="translate-x-full">
      <div class="flex items-center justify-between">
        <a href="/" class="-m-1.5 p-1.5">
          <span class="sr-only">Your Company</span>
          <img class="h-8 w-auto" src="./assets/images/logo.png" alt="" />
        </a>
        <button
          @click="mobileMenuOpen = !true"
          type="button"
          class="-m-2.5 rounded-md p-2.5 text-gray-700"
        >
          <span class="sr-only">Close menu</span>
          <svg
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </button>
      </div>
      <div class="mt-6 flow-root">
        <div class="-my-6 divide-y divide-gray-500/10">
          <div class="space-y-2 py-6">
            <div x-data="{ mobileMenuOpen: false }" class="-mx-3">
              <button
                @click="mobileMenuOpen = true"
                type="button"
                class="flex w-full items-center justify-between rounded-lg py-2 pl-3 pr-3.5 text-base font-semibold leading-7 hover:bg-gray-50 hover:text-green-400 transition duration-500"
                aria-controls="disclosure-1"
                aria-expanded="false"
              >
                Dashboard
                <!--
                  Expand/collapse icon, toggle classes based on menu open state.

                  Open: "rotate-180", Closed: ""
                -->
                <svg
                  class="h-5 w-5 flex-none transform transition-transform"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                  :class="{'rotate-180': mobileMenuOpen}"
                >
                  <path
                    fill-rule="evenodd"
                    d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                    clip-rule="evenodd"
                  />
                </svg>
              </button>
              <!-- 'Product' sub-menu, show/hide based on menu state. -->
              <div
                x-show="mobileMenuOpen"
                x-cloak
                @click.away="mobileMenuOpen = false"
                class="mt-2 space-y-2"
                id="disclosure-1"
                x-transition:enter="transition ease-out duration-300 transform opacity-0"
                x-transition:enter-start="translate-y-[-10%] opacity-0"
                x-transition:enter-end="translate-y-0 opacity-100"
                x-transition:leave="transition ease-in duration-300 transform opacity-100"
                x-transition:leave-start="translate-y-0 opacity-100"
                x-transition:leave-end="translate-y-[-10%] opacity-0"
              >
                <a
                  href="/candidate-dashboard"
                  class="block rounded-lg py-2 pl-6 pr-3 text-sm font-semibold leading-7 text-gray-900 hover:bg-green-50 hover:text-green-400 transition duration-500"
                  >Candidate Dashboard</a
                >

                <a
                  href="/employer-dashboard"
                  class="block rounded-lg py-2 pl-6 pr-3 text-sm font-semibold leading-7 text-gray-900 hover:bg-green-50 hover:text-green-400 transition duration-500"
                  >Employer Dashboard</a
                >
              </div>
            </div>
            <a
              href="/"
              class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50 hover:text-green-400 transition duration-500"
              >Home</a
            >
            <a
              href="/job-list"
              class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50 hover:text-green-400 transition duration-500"
              >Job</a
            >
            <a
              href="/candidates"
              class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50 hover:text-green-400 transition duration-500"
              >Candidates</a
            >
          </div>
          <div class="pt-2 px-6 flex flex-col text-center gap-2">
            <a
              href="/login"
              class="text-sm border transition duration-500 border-gray-500 font-semibold leading-6 text-black px-6 py-2 bg-whiet hover:bg-[#00bf58] hover:text-white rounded-md hover:border-[#00bf58]">
              Login</a
            >
            <%- include('../components/molecules/post-a-job-button', { margin:
            ' ' }) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
