<!DOCTYPE html>
<html lang="en" class="h-full bg-white">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./assets/styles/style.css" />
    <title>Title</title>
  </head>
  <body class="h-full">
    <!-- Navbar -->
    <%- include('../partials/navbar') %>
    <!-- Sidebar -->
    <%- include('../partials/sidebar') %>
    <!-- dashboard -->
    <% body %>
  </body>
</html>
