<div class="bg-white">
  <div class="relative isolate px-6 lg:px-8">
    <section>
      <!-- Main Hero -->
      <div class="mx-auto max-w-2xl py-32 sm:py-48">
        <div class="hidden sm:mb-8 sm:flex sm:justify-center"></div>
        <div class="text-center">
          <h1
            class="text-4xl font-bold tracking-tight text-gray-900 sm:text-7xl"
          >
            Find & Hire Experts for any Job
          </h1>
          <p class="mt-6 text-lg leading-8 text-gray-600">
            Jobs & Job search. Find jobs in global. Executive jobs & work.
          </p>

          <!-- Search Section -->
          <div class="mt-10 flex items-center justify-center gap-x-6">
            <form class="w-full max-w-xl lg:col-span-5 lg:pt-2">
              <div
                class="sm:border sm:border-black p-4 rounded-xl flex gap-x-4"
              >
                <!-- Search Label -->
                <label for="search" class="sr-only">Search</label>
                <div
                  class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3"
                ></div>
                <input
                  id="search"
                  name="search"
                  class="block w-full rounded-md border-0 bg-white py-1.5 pl-10 pr-3 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6"
                  placeholder="Search Jobs..."
                  type="search"
                />
                <!-- Search Label -->
                <button
                  type="submit"
                  class="flex-none rounded-md bg-green-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-green-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-600"
                >
                  Search
                </button>
              </div>
              <p class="mt-4 text-sm leading-6 text-gray-900">
                <span class="font-semibold">Popular:</span> Design, Art,
                Business, Video Editing
              </p>
            </form>
          </div>
          <!-- Search Section -->
        </div>
      </div>
      <!-- Main Hero -->

      <!-- Background Style -->
      <div
        class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]"
        aria-hidden="true"
      >
        <div
          class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]"
          style="
            clip-path: polygon(
              74.1% 44.1%,
              100% 61.6%,
              97.5% 26.9%,
              85.5% 0.1%,
              80.7% 2%,
              72.5% 32.5%,
              60.2% 62.4%,
              52.4% 68.1%,
              47.5% 58.3%,
              45.2% 34.5%,
              27.5% 76.7%,
              0.1% 64.9%,
              17.9% 100%,
              27.6% 76.8%,
              76.1% 97.7%,
              74.1% 44.1%
            );
          "
        ></div>
      </div>
      <!-- Background Style -->
    </section>
  </div>
</div>
<!-- Second Section -->
<section>
  <!-- Title -->
  <div class="mx-auto max-w-2xl py-32 sm:py-28">
    <div class="hidden sm:mb-8 sm:flex sm:justify-center"></div>
    <div class="text-center">
      <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">
        Most Demanding Categories.
      </h1>
    </div>
  </div>
  <!-- Title -->
  <div class="flex justify-center">
    <ul
      role="list"
      class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-4"
    >
      <!--  -->
      <%- include("../../components/molecules/jobcategory-card.ejs",
      {titleText:"Design & Development.", descriptionText: "2340 vacancy"}); %>
      <!--  -->
      <li
        class="col-span-1 flex flex-col divide-y divide-gray-200 rounded-lg bg-white text-center shadow"
      >
        <div class="flex flex-1 flex-col p-8">
          <img
            class="mx-auto h-32 w-32 flex-shrink-0 rounded-full"
            src="./assets/images/person.svg"
            alt=""
          />

          <h3 class="mt-6 text-sm font-medium text-gray-900">
            Customer Marketing & Sales.
          </h3>
          <dl class="mt-1 flex flex-grow flex-col justify-between">
            <dt class="sr-only">Title</dt>
            <dd class="text-sm text-gray-500">1560 vacancy</dd>
          </dl>
        </div>
      </li>
      <!--  -->
      <li
        class="col-span-1 flex flex-col divide-y divide-gray-200 rounded-lg bg-white text-center shadow"
      >
        <div class="flex flex-1 flex-col p-8">
          <img
            class="mx-auto h-32 w-32 flex-shrink-0 rounded-full"
            src="./assets/images/briefcase.svg"
            alt=""
          />

          <h3 class="mt-6 text-sm font-medium text-gray-900">
            Business Marketing.
          </h3>
          <dl class="mt-1 flex flex-grow flex-col justify-between">
            <dt class="sr-only">Title</dt>
            <dd class="text-sm text-gray-500">2210 vacancy</dd>
          </dl>
        </div>
      </li>
      <!--  -->
      <li
        class="col-span-1 flex flex-col divide-y divide-gray-200 rounded-lg bg-white text-center shadow"
      >
        <div class="flex flex-1 flex-col p-8">
          <img
            class="mx-auto h-32 w-32 flex-shrink-0 rounded-full"
            src="./assets/images/phone.svg"
            alt=""
          />

          <h3 class="mt-6 text-sm font-medium text-gray-900">
            Business Development.
          </h3>
          <dl class="mt-1 flex flex-grow flex-col justify-between">
            <dt class="sr-only">Title</dt>
            <dd class="text-sm text-gray-500">980 vacancy</dd>
          </dl>
        </div>
      </li>
      <!--  -->
      <li
        class="col-span-1 flex flex-col divide-y divide-gray-200 rounded-lg bg-white text-center shadow"
      >
        <div class="flex flex-1 flex-col p-8">
          <img
            class="mx-auto h-32 w-32 flex-shrink-0 rounded-full"
            src="./assets/images/tag.svg"
            alt=""
          />

          <h3 class="mt-6 text-sm font-medium text-gray-900">
            Programing & Code
          </h3>
          <dl class="mt-1 flex flex-grow flex-col justify-between">
            <dt class="sr-only">Title</dt>
            <dd class="text-sm text-gray-500">1687 vacancy</dd>
          </dl>
        </div>
      </li>
      <!--  -->
      <li
        class="col-span-1 flex flex-col divide-y divide-gray-200 rounded-lg bg-white text-center shadow"
      >
        <div class="flex flex-1 flex-col p-8">
          <img
            class="mx-auto h-32 w-32 flex-shrink-0 rounded-full"
            src="./assets/images/3d.svg"
            alt=""
          />

          <h3 class="mt-6 text-sm font-medium text-gray-900">
            Video Edition & 3D work
          </h3>
          <dl class="mt-1 flex flex-grow flex-col justify-between">
            <dt class="sr-only">Title</dt>
            <dd class="text-sm text-gray-500">758 vacancy</dd>
          </dl>
        </div>
      </li>
      <!--  -->
      <li
        class="col-span-1 flex flex-col divide-y divide-gray-200 rounded-lg bg-white text-center shadow"
      >
        <div class="flex flex-1 flex-col p-8">
          <img
            class="mx-auto h-32 w-32 flex-shrink-0 rounded-full"
            src="./assets/images/pencil.svg"
            alt=""
          />

          <h3 class="mt-6 text-sm font-medium text-gray-900">
            Art & Animation.
          </h3>
          <dl class="mt-1 flex flex-grow flex-col justify-between">
            <dt class="sr-only">Title</dt>
            <dd class="text-sm text-gray-500">1452 vacancy</dd>
          </dl>
        </div>
      </li>
      <!--  -->
      <%- include("../../components/molecules/jobcategory-card.ejs", {titleText:
      "Design & Development.", descriptionText: "2340 vacancy"}); %>
    </ul>
  </div>
</section>
<!-- Second Section -->
