<section>
  <div class="bg-white-900 py-14 sm:py-22">
    <div class="relative isolate">
      <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
        <%- include('../../components/molecules/matched-jobs-card'); %>
      </div>
    </div>
  </div>
</section>
