<section>
  <div class="bg-white-900 py-14 sm:py-22">
    <div class="relative isolate">
      <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
        <div class="mx-auto flex max-w-2xl flex-col gap-16  px-6 py-16  sm:rounded-3xl sm:p-8 lg:mx-0 lg:max-w-none lg:flex-row lg:items-center lg:py-20 xl:gap-x-20 xl:px-20">
          <img class="h-auto w-full flex-none rounded-2xl object-cover shadow-xl lg:aspect-square lg:h-auto lg:max-w-sm" src="./assets/images/talent-img-4.png" alt="">
          <div class="w-full flex-auto">
            <p class="mt-6 text-lg font-semibold leading-8 text-green-600">Why choose us?</p>
            <h2 class="text-4xl font-semibold tracking-tight text-green-900 sm:text-6xl">World of talent at your fingertips</h2>
            <p class="mt-6 text-2xl font-semibold leading-8 text-green-900 border-b border-gray-600 border-opacity-20">Seamless Search</p>
            <p class="mt-2 text-base leading-8 text-gray-600">It only takes 5 minutes. Set-up is smooth and simple, with fully customisable page design to reflect your brand.</p>
            <p class="mt-6 text-2xl font-semibold leading-8 text-green-900 border-b border-gray-600 border-opacity-20">Hire top talents</p>
            <p class="hidden mt-2 text-base leading-8 text-gray-600">It only takes 5 minutes. Set-up is smooth and simple, with fully customisable page design to reflect your brand.</p>
            <p class="mt-6 text-2xl font-semibold leading-8 text-green-900">Protected payments, every time</p>
            <p class="hidden mt-2 text-base leading-8 text-gray-600">It only takes 5 minutes. Set-up is smooth and simple, with fully customisable page design to reflect your brand.</p>
            <div class="mt-10 flex">
              <a href="#" class=" leading-6 rounded-3xl bg-green-600 px-6 py-3 text-base font-semibold text-white shadow-sm hover:bg-green-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-600">Learn More</a>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</section>
