<section class="mt-10">
  <div class="relative isolate">
    <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
      <div
        class="mx-auto flex max-w-2xl flex-col gap-16 px-6 py-16 sm:rounded-3xl sm:p-8 lg:mx-0 lg:max-w-none lg:flex-row lg:items-center lg:py-20 xl:gap-x-20 xl:px-20"
      >
        <!-- Photo -->
        <div
          class="lg:col-span-7 md:col-span-11 mx-auto lg:order-first md:w-8/12"
        >
          <div class="relative ">
            <div class="flex">
              <div class="md:w-2/3 sm:w-2/3 w-10/12">
                <img src="./assets/images/talent-img.jpg" alt="" />
              </div>
            </div>
            <div class="flex gap-1">
              <div class="md:w-1/2 w-5/12">
                <img
                  src="./assets/images/talent-img-2.jpg"
                  alt=""
                  class="mt-1"
                />
              </div>

              <div class="md:w-2/3 w-7/12">
                <img
                  src="./assets/images/talent-img-3.jpg"
                  alt=""
                  class="mt-1"
                />
              </div>
            </div>
            <img
              src="./assets/images/talent-search.png"
              alt=""
              class="absolute w-80 lg:ml-32 z-50 top-1"
              id="scale-left"
            />
            <img
              src="./assets/images/talent-payment.png"
              alt=""
              class="absolute w-56 h-32 z-50 lg:ml-60 mt-28 top-1"
              id="scale-up"
            />
            <img
              src="./assets/images/talent-candidates.png"
              alt=""
              class="absolute w-72 z-1 -mt-16 -left-12"
              id="scale-up"
            />
          </div>
        </div>

        <!-- Contents -->
        <div id="scale-left" class="w-full flex-auto">
          <p class="mt-6 text-lg font-semibold leading-8 text-green-600">
            <%- subTitle %>
          </p>
          <h2
            class="text-4xl font-semibold tracking-tight text-green-900 sm:text-6xl"
          >
            <%- title %>
          </h2>

          <ul>
            <!-- Talent Foreach -->
            <% talents.forEach((talent) => { %> <%-
            include('../../components/molecules/talent-card', talent) %> <% });
            %>
          </ul>

          <div class="mt-10 flex">
            <a
              href="#"
              class="leading-6 rounded-md px-6 py-3 text-base font-semibold text-white shadow-sm bg-[#35785b] hover:bg-[#00bf58] focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-600"
              >Learn More</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
