<div>
  <h3 class="text-xl md:text-2xl font-semibold leading-6 text-gray-900">DASHBOARD</h3>

  <dl class="mt-5 grid grid-cols-1 gap-5 sm:grid-cols-2 lg:grid-cols-4">
    <!-- Cards Foreach -->
    <% cards.forEach((card) => { %> <%-
    include('../../components/molecules/dashboard-card', card) %> <% }); %>
  </dl>
</div>
