<section class="">
  <h3 class="my-5 text-base font-semibold leading-6 text-gray-900">
    Recently Applied Jobs
  </h3>

  <!-- Activity list (smallest breakpoint only) -->
  <div class="shadow rounded-lg">
    <div class="mt-2 divide-y divide-gray-200 overflow-hidden shadow">
      <!-- Jobs Applied Foreach -->
      <% jobs.forEach((job) => { %> <%-
      include('../../components/molecules/recently-applied', job) %> <% }); %>

      <!-- More transactions... -->
    </div>

    <nav
      class="flex items-center justify-between border-t border-gray-200 bg-white px-4 py-3"
      aria-label="Pagination"
    >
      <div class="hidden sm:block">
        <p class="text-sm text-gray-700">
          Showing
          <span class="font-medium">1</span>
          to
          <span class="font-medium">10</span>
          of
          <span class="font-medium">20</span>
          results
        </p>
      </div>
      <div class="flex flex-1 justify-end">
        <a
          href="#"
          class="relative inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50"
          >Previous</a
        >
        <a
          href="#"
          class="relative ml-3 inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50"
          >Next</a
        >
      </div>
    </nav>
  </div>
</section>
