<section class="">
  <h3 class="my-5 text-xl md:text-2xl font-semibold leading-6 text-gray-900"><%= sectionHeader %></h3>
  <!-- Content -->
  <div class="shadow bg-white rounded-lg">
    <div
      id="graph-container"
      class="mt-2 p-4 divide-y flex justify-center flex-col items-center divide-gray-200 rounded-lg overflow-hidden shadow"
    >
      <!-- <img
        class="object-cover object-center"
        src="https://html.creativegigstf.com/jobi/jobi/dashboard/images/main-graph.png"
        alt=""
      /> -->

      <canvas id="myChart"></canvas>
    </div>
  </div>
</section>
