<section class="">
  <h3 class="my-5 text-base font-semibold leading-6 text-gray-900">
    Profile Views
  </h3>

  <!-- Activity list (smallest breakpoint only) -->
  <div class="shadow bg-white rounded-lg">
    <div
      class="mt-2 p-4 divide-y flex justify-center items-center divide-gray-200 overflow-hidden shadow"
    >
      <img
        class="object-cover object-center"
        src="https://html.creativegigstf.com/jobi/jobi/dashboard/images/main-graph.png"
        alt=""
      />
    </div>
  </div>
</section>
