<div class="bg-[#244034] px-6 py-24 sm:py-32 lg:px-8">
    <div class="mx-auto max-w-2xl text-center">
        <h2 class="text-4xl tracking-tight text-white font-bold sm:text-6xl">
            <%= text %>
        </h2>
        <p class="mt-6 text-lg leading-8 text-white font-semibold">
            <%= subtext %>
        </p>
    </div>
</div>
