<div class="bg-white px-4 py-5 shadow sm:rounded-lg sm:px-6">
    
    <div class="mt-6 flex flex-col justify-stretch">
      <button type="button" class="inline-flex items-center justify-center rounded-md bg-[#35785b] px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-[#00bf58] focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600" href="/assets/Dani_Martinez_CV.pdf" download>Download CV</button>
    </div>
</div>