<div class="py-4 border-t border-gray-200">
  <p class="text-sm text-gray-500"><%= detailsHeader %></p>
  <p class="text-sm text-gray-500 my-2"><a href="#" class="font-medium text-gray-900"><%= detailsDesc %></a></p>
</div>