<div class="bg-white rounded-3xl p-4">
    <div class="flex justify-center items-center h-16">
      <img src="<%= detailsIcon %>" alt="<%= detailsHeader %>" />
    </div>
    <div class="mt-4">
      <h6 class="text-center text-gray-500">
        <%= detailsHeader %>
      </>
    </div>
    <div class="mt-1 mb-8">
      <p class="text-center font-bold">
        <%= detailsDesc %>
      </>
    </div>
  </div>