<div class="max-w-2xl">
    <h2 class="mt-20 text-2xl font-bold tracking-tight text-gray-900"><%= header %></h2>
    <div class="mt-6 max-w-2xl">
        <ul role="list" class="mt-2 max-w-2xl space-y-8 text-gray-600">
          <% detailsList.forEach(list => { %>
            <%- include('../atoms/list-description', list) %>
          <% }) %>
        </ul>
    </div>
</div>