<div class="border-b border-gray-200 py-6">
    <h3 class="-my-3 flow-root">
      <!-- Expand/collapse section button -->
      <button type="button" class="flex w-full items-center justify-between bg-[#f0f6f4] py-3 text-sm text-gray-400 hover:text-gray-500" aria-controls="filter-section-0" aria-expanded="false">
        <span class="font-medium text-gray-900">Category</span>
        <span class="ml-6 flex items-center">
          <!-- Expand icon, show/hide based on section open state. -->
          <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z" />
          </svg>
          <!-- Collapse icon, show/hide based on section open state. -->
          <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M4 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H4.75A.75.75 0 014 10z" clip-rule="evenodd" />
          </svg>
        </span>
      </button>
    </h3>
    <!-- Filter section, show/hide based on section state. -->
    <div class="pt-6" id="filter-section-0">
      <div class="space-y-4">
        <div class="flex items-center">
          <input id="filter-color-0" name="color[]" value="white" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
          <label for="filter-color-0" class="ml-3 text-sm text-gray-600">Web Development</label>
        </div>

        <div class="flex items-center">
          <input id="filter-color-1" name="color[]" value="beige" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
          <label for="filter-color-1" class="ml-3 text-sm text-gray-600">Design & Creative</label>
        </div>

        <div class="flex items-center">
          <input id="filter-color-2" name="color[]" value="blue" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
          <label for="filter-color-2" class="ml-3 text-sm text-gray-600">IT & Development</label>
        </div>

        <div class="flex items-center">
          <input id="filter-color-3" name="color[]" value="brown" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
          <label for="filter-color-3" class="ml-3 text-sm text-gray-600">Web & Mobile Development</label>
        </div>

        <div class="flex items-center">
          <input id="filter-color-4" name="color[]" value="green" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
          <label for="filter-color-4" class="ml-3 text-sm text-gray-600">Writing</label>
        </div>

        <div class="flex items-center">
          <input id="filter-color-5" name="color[]" value="purple" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
          <label for="filter-color-5" class="ml-3 text-sm text-gray-600">Sales & Marketing</label>
        </div>
      </div>
    </div>
  </div>