<div x-data="{ isOpen: false }" class="border-t border-gray-200 px-4 py-6">
  <h3 class="-mx-2 -my-3 flow-root">
    <!-- Expand/collapse section button -->
    <button type="button"
      class="flex w-full items-center justify-between bg-white px-2 py-3 text-gray-400 hover:text-gray-500"
      aria-controls="filter-section-0" :aria-expanded="isOpen ? 'true' : 'false'" x-on:click="isOpen = !isOpen">
      <span class="font-medium text-gray-900"><%= filterTitle %></span>
      <span class="ml-6 flex items-center">
        <!-- Expand icon, show/hide based on section open state. -->
        <svg x-show="!isOpen" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path
            d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z" />
        </svg>
        <!-- Collapse icon, show/hide based on section open state. -->
        <svg x-show="isOpen" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M4 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H4.75A.75.75 0 014 10z"
            clip-rule="evenodd" />
        </svg>
      </span>
    </button>
  </h3>
  <!-- Filter section, show/hide based on section state. -->
  <div class="pt-6" id="filter-section-mobile-0" x-show.transition.opacity.duration.500ms="isOpen">
    <div class="space-y-6">
      <% filterType.forEach(filterType => { %>
        <%- include('../atoms/filter-mobile', filterType) %>
      <% }) %>
    </div>
  </div>
</div>