<div class="my-1 mx-1 px-4 sm:mx-auto w-full">
    <label id="listbox-label" class="block text-xs text-left text-gray-600">Keyword/Title</label>
    <input type="text" name="name" id="name" class="block w-full border-0 pt-1 pl-2 text-gray-900 placeholder:text-gray-500 focus:ring-0 ring-0 sm:text-sm sm:leading-6  h-10" placeholder="Enter Keyword/Title">
</div>