    <div class="py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:py-5">
      <dt class="text-sm font-medium text-gray-500"><%= cardLabel %></dt>
      <dd class="mt-1 flex text-sm text-gray-900 sm:col-span-2 sm:mt-0">
        <span class="flex-grow"><%= cardName %></span>
        <span class="ml-4 flex-shrink-0">
          <button type="button" class="rounded-md bg-white font-medium text-green-600 hover:text-green-500 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2"><%= buttonName %></button>
        </span>
      </dd>
    </div>