<li
  class="group hover:cursor-pointer transform transition-transform ease-in-out duration-300 hover:-translate-y-1 col-span-1 flex flex-col divide-y shadow-md divide-gray-200 rounded-lg bg-[#35785b] hover:bg-[#00bf58] text-center group-hover:bg-lime-300"
>
  <div class="flex flex-1 flex-col p-8 text-left">
    <h3 class="text-7xl font-medium text-white font-serif">
      <%- titleTextTwo %>
    </h3>
    <dl class="mt-4 flex flex-grow flex-col justify-between">
      <dt class="sr-only">Title</dt>
      <dd class="text-lg text-white"><%- descriptionTextTwo %></dd>
    </dl>
    <div class="h-25 w-25 border rounded-full bg-[#00bf58] overflow-hidden mr-auto">
      <%- cardIconTwo %>
    </div>
  </div>
</li>
