<% titleText = titleText; descriptionText = descriptionText; %>

<li
  class="col-span-1 flex flex-col divide-y divide-gray-200 rounded-lg bg-white text-center shadow"
>
  <div class="flex flex-1 flex-col p-8">
    <%- include("../atoms/pen-icon.ejs") %>

    <h3 class="mt-6 text-sm font-medium text-gray-900"><%= titleText %></h3>
    <dl class="mt-1 flex flex-grow flex-col justify-between">
      <dt class="sr-only">Title</dt>
      <dd class="text-sm text-gray-500"><%= descriptionText %></dd>
    </dl>
  </div>
</li>
