<div class="bg-[#244034] px-6 py-24 sm:py-32 lg:px-8">
    <div class="mx-auto max-w-2xl text-center">
        <h2 class="text-4xl font-bold tracking-tight text-white font-bold sm:text-6xl">
            <%= text %>
        </h2>
        <p class="mt-6 text-lg leading-8 text-white font-semibold">
            <%= subtext %>
        </p>
        <!-- <div class="bg-white shadow rounded-lg mt-6">
            <div class="px-4 py-6 sm:p-6">
                <form class="max-w-2xl">
                    <div class="flex gap-x-4">
                        <label for="email-address" class="sr-only">Email address</label>
                        <input id="email-address" name="email" type="email" autocomplete="email" required
                            class="min-w-0 flex-auto rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                            placeholder="What are you looking for?">
                        <label for="email-address" class="sr-only">Email address</label>
                        <input id="email-address" name="email" type="email" autocomplete="email" required
                            class="min-w-0 flex-auto rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                            placeholder="Category">
                        <button type="submit"
                            class="flex-none rounded-md bg-[#d2f34c] px-3.5 py-2.5 text-sm uppercase tracking-wider font-semibold text-black shadow-sm hover:bg-[#00bf58] hover:text-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Search</button>
                    </div>
                </form>
            </div>
        </div> -->
    </div>
</div>