<a href="/submit-job" class="text-sm <%= margin %> font-semibold transition duration-500 leading-6 text-white px-5 py-2 bg-[#35785b] border border-[#35785b] hover:border-[#00bf58] hover:bg-[#00bf58] rounded-md">
    Post a job
  </a>

  