<li>
    <div class="relative pb-8">      
      <div class="relative flex space-x-3">
        <div>
          <span class="h-8 w-8 rounded-full bg-green-500 flex items-center justify-center ring-8 ring-white">
              <div class="text-white"><%= profileNumber %></div>
            </span>
        </div>
        <div class="flex min-w-0 flex-1 justify-between space-x-4 pt-1.5">
          <div>
            <p class="text-sm text-gray-500"><a href="#" class="font-medium text-gray-900"><%= profileTitle %></a></p>
            <p class="text-sm text-gray-500"><%= profileDesc %></p>
          </div>
          <div class="whitespace-nowrap text-right text-sm text-gray-500">
            <time datetime="2020-09-30"><%= profileDate %></time>
          </div>
        </div>
      </div>
    </div>
</li>