<button
type="button"
class="rounded-md  bg-[#31795a] px-3.5 py-4 text-sm font-semibold text-white shadow-sm hover:bg-[#00bf58] focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500 uppercase"
>
<%= buttonText %>
</button>