<!-- Skills -->
        <div class="sm:col-span-4">
          <label
            for="website"
            class="block text-sm font-semibold leading-6 text-gray-900"
            >Skills</label
          >
          <div class="mt-2">
            <div
              class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md"
            >
              <input
                type="text"
                name="website"
                id="website"
                class="block flex-1 border-0 placeholder:pl-2 placeholder:text-xs bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6"
                placeholder="ReactJS"
              />
              <span
                class="flex select-none items-center pr-3 text-gray-500 sm:text-sm"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-6 h-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M13.5 16.875h3.375m0 0h3.375m-3.375 0V13.5m0 3.375v3.375M6 10.5h2.25a2.25 2.25 0 002.25-2.25V6a2.25 2.25 0 00-2.25-2.25H6A2.25 2.25 0 003.75 6v2.25A2.25 2.25 0 006 10.5zm0 9.75h2.25A2.25 2.25 0 0010.5 18v-2.25a2.25 2.25 0 00-2.25-2.25H6a2.25 2.25 0 00-2.25 2.25V18A2.25 2.25 0 006 20.25zm9.75-9.75H18a2.25 2.25 0 002.25-2.25V6A2.25 2.25 0 0018 3.75h-2.25A2.25 2.25 0 0013.5 6v2.25a2.25 2.25 0 002.25 2.25z"
                  />
                </svg>
              </span>
            </div>
          </div>

          <div class="mt-2">
            <ul class="flex gap-1">
              <li
                class="rounded-lg bg-green-50 px-3 py-2 text-xs font-normal text-green-950 shadow-md hover:bg-green-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
              >
                HTML
              </li>
              <li
                class="rounded-lg bg-green-50 px-3 py-2 text-xs font-normal text-green-950 shadow-md hover:bg-green-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
              >
                CSS
              </li>
              <li
                class="rounded-lg bg-green-50 px-3 py-2 text-xs font-normal text-green-950 shadow-md hover:bg-green-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
              >
                JavaScript
              </li>
            </ul>
          </div>
        </div>

        <!-- Experience Level -->
<%- include('../../components/atoms/select-tag', {selectLabel: 'Experience Level', selectColSize: 'sm:col-span-3', options: [ 'Junior', 'Intermediate', 'Senior' ]} ) %>

<!-- English Fluency -->
<%- include('../../components/atoms/select-tag', {selectLabel: 'English Fluency', selectColSize: 'sm:col-span-3', options: ['Basic', 'Conversational', 'Fluent', 'Native/Billingual' ]} ) %>