<%- include('../../components/organisms/profileForm-header', {header, description}) %>
    <div class="px-4 py-6 sm:p-8">
      <div class="">
        <div>
  <h3 class="text-base font-semibold leading-6 text-gray-900">Account Information</h3>
  <p class="mt-1 max-w-2xl text-sm text-gray-500">Account details and application.</p>
</div>
<div class="mt-5 border-t border-gray-200">
  <dl class="divide-y divide-gray-200">
    <% accountInfos.forEach((info) => { %> 
        <%- include('../../components/molecules/inline-accountDetails', info) %>
    <% }); %>


  </dl>
</div>

<%- include('../../components/organisms/profileForm-footer') %>