<div class="bg-[#244034] px-6 py-24 sm:py-32 lg:px-8">
    <div class="mx-auto max-w-2xl text-center">
        <h2 class="text-4xl font-bold tracking-tight text-white font-bold sm:text-6xl">Candidate Profile</h2>
        <!-- <p class="mt-6 text-lg leading-8 text-white font-semibold">Here will be your company job details & requirements
        </p> -->
        <nav class="flex mt-6 justify-center" aria-label="Breadcrumb">
            <ol role="list" class="flex items-center space-x-4">
                <li>
                    <div class="flex items-center">
                        <a href="#" class="ml-4 text-lg font-medium text-white font-500 hover:text-white font-700">Home</a>
                    </div>
                </li>

                <li>
                    <div class="flex items-center">
                        <svg class="h-5 w-5 flex-shrink-0 text-white font-400" viewBox="0 0 20 20" fill="currentColor"
                            aria-hidden="true">
                            <path fill-rule="evenodd"
                                d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                                clip-rule="evenodd" />
                        </svg>
                        <a href="#" class="ml-4 text-lg font-medium text-white font-500 hover:text-white font-700"
                            aria-current="page">Candidate Profile</a>
                    </div>
                </li>
            </ol>
        </nav>

    </div>
</div>