<div class="bg-[#244034] h-[50dvh] w-full flex justify-center items-center">
  <div class="text-white">
    <h1 class="text-6xl text-eb">Hi, Welcome Back!</h1>
    <h4 class="text-center text-xl mt-2">
      Still don't have an account?
      <span><a href="/signup" class="text-blue-400">Signup</a></span>
    </h4>
  </div>
</div>

<div
  class="bg-white rounded-xl flex justify-center items-center my-10 mx-10 w-[50dvw]"
>
  <div class="p-10 w-full flex flex-col items-center justify-center">
    <h1 class="text-eb text-4xl mb-5">Login</h1>

    <form class="flex flex-col gap-y-5 w-full px-10">
      <div class="w-full">
        <label for="email" class="">Email</label>
        <input
          type="email"
          name="email"
          id="email"
          class="block px-5 w-full rounded-md border-0 py-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
          placeholder="you@example.com"
        />
      </div>
      <div class="w-full">
        <label for="email" class="">Password</label>
        <input
          type="password"
          name="password"
          id="password"
          class="block px-5 w-full rounded-md border-0 py-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
          placeholder="you@example.com"
        />
      </div>
      <button type="button" class="rounded-md bg-indigo-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500 uppercase">Login</button>
    </form>
  </div>
</div>
<div></div>

<style>
  .text-eb {
    font-family: EB Garamond, serif;
  }
</style>
