<% title = 'Submit Job' %>







<div class="space-y-10 divide-y divide-gray-900/10">

  <!-- Profile -->
  <%- include('../partials/submit-job/container', {header: 'Post A Job', description: 'This information will be displayed publicly so be careful what you share.'}) %>

</div>
