<% title = 'Submit Job' %>







<div class="space-y-10 divide-y divide-gray-900/10">

  <!-- Profile -->
  <%- include('../partials/submit-job/container', {header: 'Post A Job', description: 'Easily post new job listings, reaching qualified candidates swiftly. Streamlined process for effective recruitment. Simplify hiring tasks'}) %>

</div>
