<div class="flex items-center">
    <input id="filter-color-0" name="color[]" value="white" type="checkbox"
      class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
    <label for="filter-color-0" class="ml-3 text-sm text-gray-600"><%= filterDesc %></label>
</div>