<div class="flex items-center">
    <input id="filter-mobile-color-0" name="color[]" value="white" type="checkbox"
      class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
    <label for="filter-mobile-color-0" class="ml-3 min-w-0 flex-1 text-gray-500"><%= filterDesc %></label>
  </div>