<div class="py-4">
    <p class="text-sm text-gray-500"><%= candidateHeader %></p>
    <p class="text-sm text-gray-500 my-2"><a href="#" class="font-medium text-gray-900"><%= candidateDesc %></a></p>
</div>
<div class="border-t border-gray-200"></div>