<a
  href="/my-profile"
  class="inline-flex items-center gap-x-2 rounded-md transition duration-500 px-5 py-2.5 text-base text-white shadow-sm bg-[#35785b] hover:bg-[#00bf58] focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-600"
>
  <img src="./assets/images/jobs-upload.svg" alt="upload icon" />
  Upload your CV
</a>
